* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
  }

.header {
    width: 100%;
    height: 105px;
    background-image: url("pic/header_bg.png");
    position: relative;
  }

.footer {
    width: 100%;
    height: 40px;
    background-image: url("pic/footer_bg.png");
    position: fixed;
    bottom: 0;
  }

main {
    padding: 29px 10px;
}

.row {
    border: 1px solid black;
    margin: 0 auto;
    width: 930px;
  }
  
.row::after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: right;
    border: 1px solid black;
    margin: 0 6px;
  }
  
.height-754 {
    height: 674px;
  }

.height-400 {
    height: 380px;
  }

.height-250 {
    height: 250px;
  }

.width-300 {
    width: 290px;
  }

.height-250 .column {
    padding: 20px;
  }

#row1col1, #row1col2, #row1col3 {
    height: 354px;
    border-radius: 0 0 22px 0px; 
} 

#row1col1 {
  background-image: url("pic/1908364606615453350.jpg");
}

#row1col2 {
    background-image: url("pic/Picture-046410251500.jpg");
}

#row1col3 {
    background-image: url("pic/פזקר_-291_354410564000.jpg");
}

#row2col1, #row2col2, #row2col3 {
    position: relative;
    float: right;
    width: 290px;
    padding: 0 24px;
    height: 216px;
    background-image: url("pic/small_cube_bg.png");
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li.sep {
    width: 4px;
    height: 21px;
    margin: 14px 0px;
    background-image: url("pic/menu_sep.png");
}

d {
    /* border: 1px solid black;  */
    position: absolute;
    width: 100%; 
    height: 1px;
    /* margin: 14px; */
    background-image: url("pic/menu_dropdown_sep.png");
    background-color: #cccccc;
}

.home>img {
    position: absolute;
    bottom: 17px;
    right:370px;
    clip: rect(0px,33px,30px,15px);
}   
.logo>img {
    position: absolute;
    bottom: -20px;
    right:220px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    font-weight: bold;
    font-size: 15px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: rgb(7, 7, 114);
    text-decoration: underline;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(rgb(170, 170, 168), rgb(144, 144, 143) 10% );
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: rgb(188, 188, 186);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.referal{
    position: absolute;
    right: 402px;
    top: 55px;
}


